@use "../../scss/" as *;

.Category__Wrapper {
  position: relative;
  z-index: 1;
  padding: 0 1.5rem;
  &__Items {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    & .item {
      z-index: 1;
      background: white;
      padding: 15px;
      height: 25rem;
      min-width: 13rem;
      & .image {
        margin-top: 1rem;
        padding-top: 19rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      p {
        display: block;
        font-size: 14px;
        color: rgb(0, 183, 255);
        margin-top: 5px;
        cursor: pointer;
      }
      h3 {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

.Category__Wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: -4rem;
  left: 0;
  background-image: linear-gradient(to top, #eeeeee, rgba(rgb(0, 0, 0), 0));
}

.Ed {
  overflow: hidden;
  @include flex(center, space-between);
  flex-direction: column;
  & .row1 {
    background: white;
    padding: 1rem;
    width: 100%;
  }
  button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: rgb(255, 217, 0);
    border: none;
    box-shadow: $shadows;
    border-radius: 10px;
    cursor: pointer;
  }
}
